@using BattleSea.Models
<html>
<head>
    <title>Sea Battle</title>
    <style type="text/css">
        body, html {
            padding: 0;
            margin: 0;
            color: #595959;
            font-family: Roboto;
        }

        .battle {
            overflow: hidden;
        }

        .section {
            width: 50%;
            height: 500px;
            float: left;
            overflow: hidden;
            position: relative;
        }

        .battlefield-cell {
            position: absolute;
            background-color: #eee;
            border: 1px solid #fff;
        }

            .battlefield-cell[data-value='1'] {
                background-color: #2e9f76;
            }

        /*#mine {
            padding: 20px;
        }*/

        .fieldArea {
            width: 100%;
            height: 100%;
            padding: 40px;
            position: absolute;
            overflow: hidden;
            box-sizing: border-box;
        }

        .span-button {
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            cursor: pointer;
            display: block;
            border: 1px solid #cccccc;
            padding: 6px;
            border-radius: 4px;
            font-weight: 500;
        }

            .span-button:hover {
                background-color: #ccc;
                color: white;
                border: none;
            }

        .whom-label {
            position: absolute;
            top: 5px;
            display: block;
            width: 100%;
            text-align: center;
            font-weight: 900;
            font-size: 25px;
        }
    </style>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,400italic,500italic,700italic,700,900,900italic,300italic,300,100italic,100" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
</head>
<body>
    <div class="battle">
        <div class="section" id="mine">
            <span class="whom-label">You</span>
            <div class="fieldArea">

            </div>
            <span onclick="shuffleShips()" class="span-button" style="position: absolute; bottom: 0; margin-left: 40%;">Reposition</span>
        </div>
        <div class="section" id="theirs">
            <span class="whom-label">Opponent</span>
            <div class="fieldArea">

            </div>
        </div>
    </div>
    <script type="text/javascript">
        var battleField;
        var columnsArray = "ABCDEFGHIJKLMNOPQRSTUVWXYZ";
        var deckSize = 50;

        var getBattlefieldAndRender = function () {
            $.ajax({
                type: "POST",
                url: "@Url.Action("GetCurrentBattlefield")",
                data: {},
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (response) {
                    $("#mine .fieldArea").empty();
                    $("#theirs .fieldArea").empty();
                    renderField($("#mine .fieldArea"), response.FirstPlayer.BattleField.Field.Field);
                    renderField($("#theirs .fieldArea"), response.SecondPlayer.BattleField.Field.Field);
                }
            });
        };

        var shuffleShips = function () {
            $.ajax({
                type: "POST",
                url: "@Url.Action("ShuffleShips")",
                data: {},
                contentType: "application/json; charset=utf-8",
                success: function (d) {
                    getBattlefieldAndRender();
                }
            });
        }

        $(document).ready(function () {
            getBattlefieldAndRender();
        });

        var renderField = function (wrapper, data) {
            var cellWidth = $(wrapper).width() / data.length;
            var cellHeight = $(wrapper).height() / data.length;

            $.each(data, function (rowIndex, row) {
                $.each(row, function (columnIndex, cellValue) {
                    var cell = document.createElement("div");
                    $(cell).css({
                        "height": cellHeight,
                        "width": cellWidth,
                        "margin-left": columnIndex * cellWidth,
                        "margin-top": rowIndex * cellHeight
                    }).attr({
                        "class": "battlefield-cell",
                        "data-value": cellValue,
                        "data-row": rowIndex,
                        "data-column": columnsArray[columnIndex]
                    });

                    $(wrapper).append(cell);
                });
            });
        }

        //var renderShips = function (wrapper, data) {
        //    $.each(data, function(index, ship) {
        //        var shipDiv = document.createElement("div");
        //        $(shipDiv).attr({
        //            "data-deck-size": ship.Type,
        //            "class": "droppable-ship"
        //        }).css({
        //            "height": deckSize,
        //            "width": deckSize * ship.Type
        //        }).draggable({
        //            revert: "invalid",
        //            snap: true,
        //            snapTolerance: 20
        //        });

        //        $(wrapper).append(shipDiv);
        //    });
        //}
    </script>
</body>
</html>
